//@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@import "../normalize";
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  background: #e1e1e1;
  color: #2D383F;
}

#pf-wrapper {
  #pf-container {
    max-width: 960px;
    margin: 0 auto;
    background: #666666;
    font-family: 'Montserrat', sans-serif;

    #slider {
      margin: 2em auto;
      width: 100%;
      overflow: hidden;

      #slider-nav {
        text-align: center;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
        list-style: none;
        align-items: center;

        a {
          height: 2em;
          font-size: 2rem;
          text-align: center;
          text-decoration: none;
          color: #FFF;
          display: inline-block;
          line-height: 2;
          margin: 0.5em 2rem;
          &.current {
            border-color: #000;
            background: #FFFFFF;
          }
        }
      }

      #slider-wrapper {
        width: 99999px;
        height: 540px;
        position: relative;
        transition: left 400ms linear;
        margin: 0;
        padding: 0;

        li.slide {
          float: left;
          width: 960px;
          height: 100%;
          position: relative;
          overflow: hidden;
          margin: 0;
          padding: 0;

          & > img {
            position: absolute;
            top: 0;
            left: 0;
          }

          & > div.info {
            position: absolute;
            right: 0;
            bottom: 0;
            width:100%;
            height: 100%;
            background: #FFFFFF;

            .masthead {
              display: flex;
              align-items: flex-start;
              margin: 1.5rem;
              h1 {
                margin-bottom: 0.625rem;
              }
              h2 {
                font-size: 0.9rem;
                margin: 0;
                padding: 0;
                color: black;
                text-transform: uppercase;
              }
              h3 {
                text-align: center;
                font-size: 1rem;
              }
              img {
                max-height: 120px;
                width: auto;
              }
              p {
                font-size: 0.9rem;
              }

              & > * {
                padding: 0 1rem;
              }
            }
            .meta {
              margin: 1.5rem;
              padding: 0;
              list-style: none;
              display: flex;
              justify-content: space-between;
              flex-wrap: wrap;
              & > li {
                padding: 1rem;
                text-align: center;
                box-sizing: border-box;
                flex: 0 1 20%;
                font-size: 2.5rem;
                & > div {
                  border: 2px solid black;
                  border-radius: 18px;
                  padding: 0.8rem;
                }
                span {
                  display: block;
                  font-size: 1rem;
                  padding-bottom: 1rem;
                }
              }
            }
            .contact {
              color: #b71c1c;
              font-size: 1.7rem;
              margin: 2.3rem;
            }
          }
        }
      }
    }
  }
}

